# Files to be ignored by Git.

*.class

/core
/jcgo
/jcgo-*
/jcgo.exe
/jcgo.jar

/.build_tmp/
/auxbin/
/bin/
/dlls/
/libs/
/rflg_out/
/sawt_out/

/classpath-0.93

/*.tar
/*.tar.bz2
/*.tar.gz

/.checkstyle
/.codepro/
/.project
/.settings/
